nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;

  strong {
    position: relative;
    margin-bottom: 16px;
    top: -14px;
  }

  .logo {
    border-radius: 4px;
  }

  .navlinks {
    a {
      padding: 0 12px;
    }
  }
}

ul {
  list-style: none;
}

.link {
  margin: 12px auto;
}

.metadata {
  span {
    margin: 0 4px;
    border-right: 2px solid #777;
    
    &:first-child {
      margin: 0;
    }
    
    &:last-child {
      border: 0;
    }
  }
}

.comment {
  margin: 12px auto;
  border-bottom: 2px solid #f5f5f5;
}

.navlinks {
  font-weight: bold;
}

.link {
  .title {
    a {
      font-weight: bold;
      font-size: 2rem;
    }
  }
  .metadata {
    opacity: 0.5;
  }
}